* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: rgb(24, 26, 27);
    font-family: 'Courier New', Courier, monospace;
}
.container {
    height: 800px;
    margin: 20px;
}

.container-title{
    text-align: center;
    color: whitesmoke;
    
}

.container-body{
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-body-title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: white;
}

.calculator{
    background-color: rgb(54, 54, 58);
    height: 600px;
    border-radius: 50px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 2px solid darkorange;
    flex-direction: column;
    
}

.calculator button{
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 20px;
}
.calculator-top {
    margin: 20px;
    padding: 10px;
    width: 400px;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-left: 120px;
}

.calculator-results {
    display: flex;
    align-items: center;
    padding-left: 5px;
    background-color: white;
    width: 600px;
    height: 50px;
    color: black;
    font-size: 21px;
}

.calculator-middle{
    display: flex;
    flex-direction: row;
    margin-right: 120px;
     
    
}

.calculator-middle button{
    margin: 5px;
}

.calculator-bottom {
    display: flex;
    justify-content: flex-end;
     
}

.calculator-bottom button{
    margin: 5px;
}

.calculator-clear{
    margin-top: 10px;
    
}

.calculator-clear button{
    width: 300px;
}