* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: rgb(24, 26, 27);
    font-family: 'Courier New', Courier, monospace;
}
.container {
    height: 800px;
    margin: 20px;
}

.container-title{
    text-align: center;
    color: whitesmoke;
    
}

.container-body{
     
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.container-body-title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: white;
}

.calculator{
    background-color: rgb(54, 54, 58);
    height: 600px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 25px;
    border: 1px solid darkorange;
    
}

.calculator button{
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 20px;
}
.calculator-top {
    margin-bottom: 10px;
    width: 300px;
    gap: 20px;
    display: flex;
    align-items: center;
    color: white;

}

.calculator-output {
    display: flex;
    align-items: center;
    padding-right: 15px;
    justify-content: flex-end;
    border-radius: 5px;
    width: 215px;
    margin-right: 80px;
    margin-bottom: 5px;
    height: 50px;
    color: white;
    font-size: 17px;
}

.calculator-results {
    display: flex;
    align-items: center;
    padding-left: 5px;
    background-color: darkgoldenrod;
    border-radius: 5px;
    width: 400px;
    height: 50px;
    color: whitesmoke;
    font-size: 21px;

}

.calculator-middle{
    display: flex;
    flex-direction: row;
    margin-right: 120px;
     
    
}

.calculator-middle button{
    margin: 5px;
}

.calculator-bottom {
    display: flex;
    justify-content: flex-end;
     
}

.calculator-bottom button{
    margin: 5px;
}

.calculator-clear{
    margin-top: 10px;
    
}

.calculator-clear button{
    width: 300px;
}

button {
    font-weight: bolder;
    border-radius: 5px;
    border: 1px solid white;
    background-color: darkgoldenrod;
    color: whitesmoke;
}
